.docteurForm{
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    .docteur-h2{
        font-weight: 900;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 40px;
        border-bottom: 1px solid #eeeeee;
        color: rgb(0, 0, 56);

    }
    .docteurForm-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .docteur-rows{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .docteur-label{
                color: #555;
                font-size: .8rem;
            }
            .docteur-input{
                padding: 10px;
                    border: 1px solid #eeeeee;
                    font-size: .9rem;
                    border-radius: 5px;
                    outline: none;
                    transition: .3s;
                    &:focus{
                        border: 1px solid rgba(36, 36, 250, 0.418);
                    }

                    &::placeholder{
                        font-size: .7rem;
                        color: #a5a5a5;
                    }
            }
            .docteur-inputs{
                height: 100px;
            }
        }
    }
    .docteur-btn{
        margin-top: 20px;
        background: rgb(46, 138, 243);
        padding: 15px;
        border-radius: 5px;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: .5s;
        &:hover{
            background: rgb(4, 78, 163);
        }
    }
}