.statistique{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .statistique-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .statistique-left{
            .statistique-title{
                .statistique-h1{
                    font-size: 1.2rem;
                }
            }
            .statistique-desc{
                font-size: .8rem;
            }
        }
    }
    .statistique-center{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .statistique-center-left{
            flex: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            .statistique-row{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                padding: 20px;
                background: #fff;
                -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
                border-radius: 10px;
                height: max-content;
                .statistique-row-top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .stat{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .stat-icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: rgba(85, 125, 245, 0.24);
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;

                        }
                        .stat-title{
                            font-size: .8rem;
                        }
                    }
                }
                .statistique-row-center{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .stat-h2{
                        font-size: 1.5rem;
                        font-weight: 900;
                        letter-spacing: 1px;
                    }
                    .statistique-row-center-top{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        .statistique-count{
                            font-size: .8rem;
                            color: rgb(23, 128, 23);
                            .icon{
                                padding-right: 4px;
                            }
                        }
                        .statistique-count-desc{
                            font-size: .7rem;
                            color: gray;
                        }
                    }
                }
                .statistique-row-bottoms{
                        hr{
                            background: rgb(158, 158, 158);
                            margin-bottom: 10px;
                            border: none;
                            height: 1px;
                        }
                        .stat-detail-rows{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            .stat-detail{
                                font-size: .8rem;
                            }
                            .stat-icon{
                                font-size: .8rem;
                            }
                        }
                }
            }
        }
        .statistique-center-right{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            background: #fff;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            border-radius: 10px;
            .statistique-center-right-top{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .statistique-wrapper1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                }
                .statistique-wrapper2{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .statistique-montant-rows{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .stat_span_montant{
                            font-size: .9rem;
                        }
                        .statistique-asc{
                            font-size: .7rem;
                        }

                        .stat_rows{
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            .rond{
                                height: 15px;
                                width: 15px;
                                border-radius: 50%;
                                display: inline;
                                background: red;
                            }
                            .span-desc{
                                font-size: .5rem;
                            }
                        }
                    }
                    .statistique-montant-rows2{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .stat_rows{
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            .rond{
                                height: 10px;
                                width: 10px;
                                border-radius: 50%;
                                display: inline;
                                background: rgba(65, 105, 225, 0.575);
                            }
                            .span-desc{
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}